<!-- assets/views/main.html -->


<div ng-controller="MainController" ng-init="getSources()">
	<form ng-submit="searchSources()">
    <div class="container" id="main-form">
        <p class="lead">Select Options</p>
		
		<div class="row">
        <div class="content" id="select-s">
            <p>Select sources: </p><nobr>
            <div ng-dropdown-multiselect="" options="sourceList" selected-model="sourceModel" extra-settings="mainSettings"></div>
        </div>
		</div>
		
		<div class="row">
        <div class="content" id="select-t">
            <p>Select timespan: </p><nobr>
            <div ng-dropdown-multiselect="" options="timeList" selected-model="timeModel" extra-settings="timeSettings"></div>
        </div>
		</div>
		
		<div class="row">
        <button class="content" id="lex"> Load Lexicon </button>
		</div>
		
		<div class="row">
        <div class="content">
            Insert Keywords: <input ng-model="keywords">
        </div>
		</div>
    </div>
	
	<!-- Trigger the modal with a button -->
	<div class="row">
    <button type="submit" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">View Statistics</button>
	</div>
	
	</form>

    <div class="container">
        
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <div ng-controller="GraphController">
                            <div dir="rtl" google-chart chart="chart" style="{{chart.cssStyle}}" select="selected(selectedItem)" on-ready="chartReady()" ng-if="chart"></div>
                        </div>
                        <p>Some text in the modal.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>