<!-- assets/views/source.html -->

<div ng-controller="SourceController" ng-init="getSources()">
    <div class="container">
        <div class="title">
            <h1 class="mt-4 mb-3" style="{align-content: center;}">Source Management</h1>
            <p class="lead" style="{text-align: center;}">Here you can view, add and delete your RSS feed information for your news and research sources</p>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-6 ml-auto">
                <form ng-submit="submitCreate()">
                    <div class="card mb-4">
                        <p class="card-text">Enter the source's name: </p>
                        <input type="text" id="" ng-model="sourceName">
                    </div>

                    <div class="card mb-4">
                        <p>Enter the RSS url: </p>
                        <input type="text" id="" ng-model="sourceRSS">
                    </div>
                    <br />

                    <div class="card mb-4">
                        <input type="submit" value="Add new source">
                    </div>
                </form>

                <div class="error">
                    {{error}}
                </div>

                <br />
                <br />

                <form ng-submit="submitDelete()">
                    <div class="card mb-4">
                        <p class="card-text">Delete a source: </p>
                        <div ng-dropdown-multiselect="" options="sourceList" selected-model="deleteModel" extra-settings="deleteSettings"></div>
                    </div>
                    <br />

                    <div class="card mb-4">
                        <input type="submit" value="Delete source">
                    </div>
                    <br />
                    <br />
                </form>
            </div>

            <div class="col-lg-6 ml-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><b>Source Name</b></td>
                            <td><b>Source URL</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in sourceList">
                            <td>{{x.name}}</td>
                            <td>{{x.url}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>