<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <title>Example - example-example14-production</title>
    <link data-require="bootstrap@*" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script data-require="jquery@*" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
    <script src="script.js"></script>
    <script src="ng-google-chart.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>

  
  <body ng-app="rootApp">

    
    <div ng-controller="SampleCtrl">
          <div dir="rtl" google-chart chart="chart" style="{{chart.cssStyle}}" select="selected(selectedItem)" on-ready="chartReady()"></div>
    </div>
    <div ng-controller="Controller">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <h1>Research Impact Monitoring Tool Example</h1>
        <p class="lead">Select Options</p>
        <user-dropdown class="col-xs-6"></user-dropdown>
        <project-dropdown class="col-xs-6"></project-dropdown>
           <button class="col-xs-6" ng-click="toggleProjectDropdown()"> Load Lexicon</button>
             <div ng-app="myApp" ng-controller="myCtrl">
        Insert Keywords: <input ng-model="name">
             </div>
      </div>
    </div>
    

  </body>

</html>
