div.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

div.error {
    color: red;
}

p.lead {
    text-align: center;
}

html {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

footer,
footer p {
    background-color: #bac6be;
    text-align: center;
    align-content: center;
    justify-content: center;
}

div.title {
    background-color: #e3e7ed;
    padding: 30px;
}