div {
    display: inline;
}

div.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
}

div.error {
    text-color: red;
}

p.lead {
    text-align: center;
}

#lex {
    width: 10%;
}

tr.src-table,
td {
    border-style: double;
    border-spacing: 20px;
    margin: 20px;
    padding: 20px;
}